/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2016, 5:33:50 PM
    Author     : Shreyal
*/

.ui-fieldset, .ui-fieldset .ui-fieldset-legend {
    padding:0.6em 1em;
}

.ui-fieldset-toggleable .ui-fieldset-legend {
    padding: 0.5em 1em 0.5em 0.5em;
    cursor:pointer;
    white-space: nowrap;
}

.ui-fieldset .ui-fieldset-toggler {
    padding-right: .1em;
    margin-top: 0.1em;
    float:left;
}